.App {
  text-align: center;
}

.App h1 {
  padding-top: 15px;
  color: #000000;
  -webkit-text-fill-color: #ffffff;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: navy;
}

.App-Content{
  width: 600px;
  height: 300px;
  background: #ffffff;
  margin: 40px auto;
}

.App-Content-input{
  border: 0;
  border-bottom: 2px solid navy;
  width: 200px;
  font-size: 14px;
  text-align: left;
  padding: 5px;
  background: transparent;
  color: navy;
}

.App-Content-input-invalid{
  border: 0;
  border-bottom: 2px solid #B80000;
  width: 200px;
  font-size: 14px;
  text-align: left;
  padding: 5px;
  background: transparent;
  color: #E80000;
}

.App-Content-description{
  color: #A9A9A9;
  font-size: 12px;
  text-align: left;
  padding-left: 140px;
}

.App-Content-errorMsg{
  color: #E80000;
  font-size: 12px;
  position: absolute;
  top: 115px;
  left: 140px;
}

.App-Content input[type="button"]{
  border-radius: 10px;
  padding: 5px 12px;
  font-size: 14px;
  background-color: navy;
  color:white;
  border-color: navy;
}

.App-Content input[type="button"]:disabled{
  border-radius: 10px;
  padding: 5px 12px;
  font-size: 14px;
  background-color: #D3D3D3;
  color:white;
  border-color: #A9A9A9;
}

.App-Content-Weather-Box{
  position: absolute;
  overflow-x: auto;
}

.App-Content-Weather-Box ul{
  list-style: none;
}

.App-Content-Weather-Box li{
  display: inline-block;
  vertical-align: top;
  padding: 10px;
}

.App-Content-Weather-Day{
  font-weight: bolder;
  font-size: 14px;
  color: navy;
}

.App-Content-Weather-Temp{
  font-weight: bold;
  font-size: 10px;
  color: navy;
}

/********************
* Shadow Effect
*********************/
.shadowEffect{
  position: relative;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.shadowEffect:before, .shadowEffect::after{
  content: "";
  position: absolute;
  z-index: -1;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  top: 10px;
  bottom: 10px;
  left: 0;
  right: 0;
  border-radius: 100px/10px;
}

.shadowEffect::after{
  right: 10px;
  left: auto;
  transform: skew(8deg) rotate(3deg);
}